<%- include('../includes/head.ejs') %> 
<title><%= pageTitle %></title>
</head>
  <body>
    <%- include('../includes/adminNav.ejs') %>

    <% if(prods.length>0){ %> 
        <div class="m-3 d-flex flex-wrap">
            <% for (let product of prods) { %>
            <div class="card m-3" style="width: 18rem;">
                <img src="/<%= product.imageURL %>" class="card-img-top" alt="<%= product.title %>">
                <div class="card-body">
                    <h5 class="card-title"><%= product.title %></h5>
                    <h5 class="card-title">Rs. <%= product.price %></h5>
                    <p class="card-text"><%= product.description %></p>

                    <form class="text-center my-2" action="/admin/detail/<%= product._id %>" method="GET">
                        <button type="submit" class="btn btn-success">Details</button>
                    </form>
                    <form class="text-center my-2" action="/admin/updateProduct/<%= product._id %>" method="GET">
                        <button type="submit" class="btn btn-info text-white">Update</button>
                    </form>
                    <form class="text-center my-2" action="">

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop-<%= product._id %>">
                            Delete
                        </button>
                        
                        <div class="modal fade" id="staticBackdrop-<%= product._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop-<%= product._id %>Label" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdrop-<%= product._id %>Label">Delete Product</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this product? You will not be able to revert this action..!
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="/admin/deleteProduct/<%= product._id %>" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
        <h1 class="bg-light p-2 text-center m-2">No Product Found</h1>
    <% } %>


  </body>
<%- include('../includes/tail.ejs') %>
