<%- include('../includes/head.ejs') %> 
<title><%= pageTitle %></title>
</head>
  <body>
    <%- include('../includes/adminNav.ejs') %>

    <% if(users.length>0){ %> 
        <div class="m-3 d-flex flex-wrap">
            <% for (let user of users) { %>
            <div class="card m-3" style="width: 18rem;">
                <div class="p-2 text-center">
                    <img src="/<%= user.imageURL %>" class="card-img-top w-75" alt="<%= user.title %>">
                </div>
                <div class="card-body">
                    <hr>
                    <h5 class="card-title m-2">Email: <%= user.email %></h5>
                    <hr>
                    <h5 class="card-title m-2">Username: <%= user.username %></h5>
                    <hr>
                    <div>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop-<%= user._id %>">
                            Delete
                        </button>
                        
                        <div class="modal fade" id="staticBackdrop-<%= user._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop-<%= user._id %>Label" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdrop-<%= user._id %>Label">Delete Product</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this user? You will not be able to revert this action..!
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="/admin/deleteUser/<%= user._id %>" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="/admin/deleteUser/<%= user._id %>" class="btn btn-danger">Delete</a> -->
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
        <h1 class="bg-light p-2 text-center m-2">No User Found</h1>
    <% } %>


  </body>
<%- include('../includes/tail.ejs') %>
